<h1><%= @player_name_1 %> V <%= @player_name_2 %></h1>

<div class="hit_points">
  <p><%= @player_name_1 %> hit points: <%= @player_hit_points_1 %></p>
  <p><%= @player_name_2 %> hit points: <%= @player_hit_points_2 %></p>
</div>
