<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body class="saiyan">
  <h1 class="titan-one white-border"><%= @game.player1.name %> V <%= @game.player2.name %></h1>
  <div class="titan-one white-border">
    <p class="left"><%= @game.player1.name %> hit points: <%= @game.player1.health %></p>
    <p class="right"><%= @game.player2.name %> hit points: <%= @game.player2.health %></p>
  </div>
  <div class="titan-one white-border centre">
    <p><%= @game.attacker.name %>'s turn</p>
  </div>
  <a href='/cripplethem' class="button titan-one">Nipple Cripple</a>

  <audio src="sick_song.mp3" autoplay controls loop>
    <p>Your browser does not support HTML5 audio playback</p>
  </audio>
</body>
</html>
